 .lander {
    padding: 80px 5rem;
  }
  
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
  }
  .lander{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .lander_headings{
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0px 5rem;
    gap: 1rem;
  }
  .lander_headings h1{
    font-size: 9rem;
  }
  .lander_headings h2{
    font-size: 2.5rem;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .lander_headings_btn{
    font-size: 2rem;
    width: 9rem;
    height: 4rem;
    border-radius: 4rem;
    border: 2px solid #38b7ff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lander_headings span{
    color: #38b7ff;
}